<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getProductStock1</key>
	<string>getProductStock1</string>
	<key>checkoutnew</key>
	<string>preparequoteuser</string>
	<key>DeleteCart</key>
	<string>removeCartItem</string>
	<key>AddToCart</key>
	<string>addCartItem</string>
	<key>getallCMSPages</key>
	<string>getallCMSPages</string>
	<key>getProductReviewUrl</key>
	<string>getProductReviewUrl</string>
	<key>addProductReview</key>
	<string>addProductReview</string>
	<key>related_products</key>
	<string>related_products</string>
	<key>getWishlist</key>
	<string>getWishlist</string>
	<key>removeWishlist</key>
	<string>removeWishlist</string>
	<key>addToWishlist</key>
	<string>addtoWishlist</string>
	<key>BestsellerProducts</key>
	<string>getBestsellerProducts</string>
	<key>filter</key>
	<string>filter</string>
	<key>getFilter</key>
	<string>getcategoryfilter</string>
	<key>MyDownloads</key>
	<string>mydownloads</string>
	<key>StoreDetail</key>
	<string>storedetails&amp;theme=modern</string>
	<key>gettoken</key>
	<string>gettoken</string>
	<key>FeaturedProduct</key>
	<string>getFeaturedProducts</string>
	<key>NewProduct</key>
	<string>getNewProducts</string>
	<key>CategoryProduct</key>
	<string>getShopbyCategory</string>
	<key>SubCategory</key>
	<string>subcategory</string>
	<key>ProductDetail</key>
	<string>productdetaildescription</string>
	<key>ProductDetailConfigurable</key>
	<string>get_configurable_product_details_description</string>
	<key>ProductDetailGrouped</key>
	<string>productdetail</string>
	<key>ProductDetailImages</key>
	<string>productdetailimage</string>
	<key>Accessories</key>
	<string>products</string>
	<key>getProductCategory</key>
	<string>get_category_product</string>
	<key>CategoryNavigator</key>
	<string>initial</string>
	<key>LoginAccess</key>
	<string>verifylogin</string>
	<key>ForgotPassword</key>
	<string>forgotPassword</string>
	<key>changePassword</key>
	<string>changeprofilepassword</string>
	<key>CreateUser</key>
	<string>createuser</string>
	<key>CheckOut</key>
	<string>preparequote</string>
	<key>SearchData</key>
	<string>search</string>
	<key>PlaceOrder</key>
	<string>placeorder</string>
	<key>MyOrder</key>
	<string>myorders</string>
	<key>SearchFilteredProduct</key>
	<string>searchfiterproducts</string>
	<key>CountryList</key>
	<string>mofluidappcountry</string>
	<key>StateList</key>
	<string>mofluidappstates</string>
	<key>PaymentMethods</key>
	<string>getpaymentmethod</string>
	<key>TwoCheckoutURL</key>
	<string>TwoCheckoutURL</string>
	<key>Reorder</key>
	<string>mofluid_reorder</string>
	<key>LoginWithSocial</key>
	<string>loginwithsocial</string>
	<key>ImageVal</key>
	<string>getImageOfSize</string>
	<key>searchfilter</key>
	<string>searchfilter</string>
	<key>removeCartItem</key>
	<string>remove_cart_item</string>
	<key>addCartItem</key>
	<string>add_cart_item</string>
	<key>getCartItems</key>
	<string>get_cart_items</string>
	<key>clearCart</key>
	<string>clearcart</string>
	<key>UpdateProfile</key>
	<string>mofluidUpdateProfile</string>
	<key>getBillingAddress</key>
	<string>get_billing_address</string>
	<key>getShippingAddress</key>
	<string>get_shipping_address</string>
	<key>addressList</key>
	<string>address_list</string>
	<key>getAddress</key>
	<string>get_address</string>
	<key>updateAddress</key>
	<string>update_address</string>
	<key>addNewAddress</key>
	<string>add_new_address</string>
	<key>getShippingMethod</key>
	<string>get_shipping_method</string>
	<key>CheckOutAndPaymentMethods</key>
	<string>checkout_new</string>
	<key>GetImage</key>
	<string>get_image</string>
	<key>getGroupedProductDetail</key>
	<string>get_product_detail</string>
</dict>
</plist>
